@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream: #FFFDF7;
  --spotify-green: #1DB954;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair: var(--font-playfair);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair), serif;
}
